body {
    text-align: center;
    background: linear-gradient(to right, red, yellow);
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
}

#button {
    background: transparent;
    padding:0.5em 2em;
    border:0.16em solid #FFFFFF;
    margin: 3em;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:700;
    font-size: 1em;
    color:#FFFFFF;
    text-transform: uppercase;
    transition
}

#button:hover {
    box-shadow: 0px 0px 11px 2px #000000;
}

